/*
0a2239 Azul oscuro 
1179b3 Azul claro
fcfaf9 blanco
*/


@font-face {
  font-family: 'Raleway';
  src: url(/motel-bates/fonts/Raleway-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(/motel-bates/fonts/Raleway-Light.woff) format('woff');
  font-weight: lighter;
  font-style: lighter;
}

@font-face {
  font-family: 'Raleway';
  src: url(/motel-bates/fonts/Raleway-bold.woff) format('woff');
  font-weight: bold;
  font-style: bold;
}



main {
  text-align: center;
  background-image: url(/motel-bates/images/banner-motel.jpg);
  background-size: cover;
  height: 100vh;
}

main>form {
  display: inline-block;
  background-color: #0A2239;
  padding: 20px 50px;
  margin: 100px 10% 0;
  border-radius: 10px;
  text-align: left;
  max-width: 500px;
}

main>form input {
  padding: 5px 0;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
}

.red {
  color: red;
}

main>form button {
  background-color: #fcfaf9;
  padding: 5px 20px;
  margin: 20px 0 0;
  border-radius: 5px;
}

main > div {
  margin: 50px;
}

main > div > a {
  font-family: 'Raleway';
  font-weight: bold;
}

main > div > a:nth-child(1) {
  display: none;
}



footer {
  background: linear-gradient(black, #0A2239);
  padding: 10px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

footer > div:nth-child(2) {
  justify-content:space-between;
}

footer > div > ul {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

footer li {
  display: inline-block;
}

footer img {
  width: 30px;
  margin: 5px;
  margin-bottom: 20px;
}

footer h3, footer a {
  display: inline-block;
  color: #FCFAF9;
  font-family: 'Raleway';
  font-weight: lighter;
  font-size: 15px;
}